In [1]:
import DataPreparation as dpr
import ModelRun as mr
# import benchmarks as bench

import numpy as np
import pandas as pd
from scipy.optimize import minimize
from sklearn.model_selection import TimeSeriesSplit

from MyEstimators import CLS_Estimator

### Load data

In [40]:
df = dpr.read_data('EQP_Quarterly')
df = dpr.data_clean(df, '1956-01-01')

In [41]:
df.head()

,EQP,DP,DY,EP,DE,svar,b/m,ntis,tbl,lty,...,TMS,DFR,DFY,infl,c,w,y,cay,AAA,BAA
time,,,,,,,,,,,,,,,,,,,,,
1956-03-01,0.066512,-3.333030,-3.269151,-2.575525,-0.757505,0.003289,0.531077,0.026695,0.0225,0.0303,...,0.0078,0.005159,0.0050,0.000000,9.272498,11.092725,9.100386,0.007275,0.0310,0.0360
1956-06-01,-0.028264,-3.261722,-3.293365,-2.568575,-0.693147,0.003688,0.551565,0.025672,0.0249,0.0299,...,0.0050,-0.021824,0.0050,0.014925,9.271728,11.091665,9.107828,0.000775,0.0326,0.0376
1956-09-01,-0.034415,-3.204645,-3.239744,-2.573142,-0.631503,0.002519,0.571910,0.029362,0.0284,0.0324,...,0.0040,0.005663,0.0051,0.007353,9.269304,11.086198,9.106428,0.000663,0.0356,0.0407
1956-12-01,0.033241,-3.289216,-3.260525,-2.616389,-0.672827,0.004394,0.544177,0.026149,0.0321,0.0345,...,0.0024,-0.002208,0.0062,0.007299,9.277993,11.096678,9.118405,-0.002524,0.0375,0.0437
1957-03-01,-0.050750,-3.238565,-3.294980,-2.562911,-0.675654,0.002288,0.599819,0.026600,0.0308,0.0331,...,0.0023,-0.000368,0.0077,0.007246,9.280482,11.090721,9.117433,0.002041,0.0366,0.0443

### Add $y_{t-1}$ and construct X and y

In [42]:
df['y_lag'] = df['EQP'].shift()
df = df.dropna()
df.head()

,EQP,DP,DY,EP,DE,svar,b/m,ntis,tbl,lty,...,DFR,DFY,infl,c,w,y,cay,AAA,BAA,y_lag
time,,,,,,,,,,,,,,,,,,,,,
1956-06-01,-0.028264,-3.261722,-3.293365,-2.568575,-0.693147,0.003688,0.551565,0.025672,0.0249,0.0299,...,-0.021824,0.0050,0.014925,9.271728,11.091665,9.107828,0.000775,0.0326,0.0376,0.066512
1956-09-01,-0.034415,-3.204645,-3.239744,-2.573142,-0.631503,0.002519,0.571910,0.029362,0.0284,0.0324,...,0.005663,0.0051,0.007353,9.269304,11.086198,9.106428,0.000663,0.0356,0.0407,-0.028264
1956-12-01,0.033241,-3.289216,-3.260525,-2.616389,-0.672827,0.004394,0.544177,0.026149,0.0321,0.0345,...,-0.002208,0.0062,0.007299,9.277993,11.096678,9.118405,-0.002524,0.0375,0.0437,-0.034415
1957-03-01,-0.050750,-3.238565,-3.294980,-2.562911,-0.675654,0.002288,0.599819,0.026600,0.0308,0.0331,...,-0.000368,0.0077,0.007246,9.280482,11.090721,9.117433,0.002041,0.0366,0.0443,0.033241
1957-06-01,0.075114,-3.309868,-3.238565,-2.628349,-0.681519,0.001363,0.565877,0.030528,0.0329,0.0361,...,-0.003789,0.0072,0.010791,9.278119,11.104916,9.118823,-0.004528,0.0391,0.0463,-0.050750

In [53]:
AB = df[['DP','EP','b/m']]

In [54]:
station = df[['y_lag', 'cay']]
X = AB.join(station)
y = df[['EQP']].squeeze()
X.head(2)

                  DP        EP       b/m     y_lag       cay
time
1956-06-01 -3.261722 -2.568575  0.551565  0.066512  0.000775
1956-09-01 -3.204645 -2.573142  0.571910 -0.028264  0.000663

### Construct single-index and nonlinear models

In [55]:
def single_index(x):
    if isinstance(x, (pd.DataFrame, np.ndarray)):
        if isinstance(x, pd.DataFrame):
            x_values = x.values
        else:
            pass
    else:
        raise Exception('wrong type')

    def u(theta):
        if len(theta) == x_values.shape[1]:
            sum_up = [x_values[:, i] * theta[i] for i in range(x_values.shape[1])]
            index = np.sum(sum_up, axis=0)
        else:
            raise Exception('wrong parameter dimension')
        return index

    return u

In [160]:
def dimensions(non_sta, sta):
    stas = sta.shape[1]
    nonstas = non_sta.shape[1]
    return nonstas, stas

In [210]:
d1, d2 = dimensions(AB, station)
d1

3

In [219]:
def sin_func(x):
    def objective_func(params):
        func = np.sin(single_index(x.iloc[:,:-d2])(params[0:d1])+params[d1])+np.dot(
            x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [220]:
def cos_func(x):
    def objective_func(params):
        func = np.cos(single_index(x.iloc[:,:-d2])(params[0:d1])+params[d1])+np.dot(
            x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [221]:
def scaled_sin_func(x):
    def objective_func(params):
        func = np.sin(params[d1+1]*single_index(x.iloc[:,:-d2])(params[0:d1])+params[d1])+np.dot(
            x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [222]:
def scaled_cos_func(x):
    def objective_func(params):
        func = np.cos(params[d1+1]*single_index(x.iloc[:,:-d2])(params[0:d1])+params[d1])+np.dot(
            x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [223]:
def exp_shift_func(x):
    def objective_func(params):
        func = 1 - np.exp(params[d1]*((single_index(x.iloc[:,:-d2])(params[0:d1]))-params[d1+1])**2
                         )+np.dot(x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [224]:
def exp_func(x):
    def objective_func(params):
        func = params[d1]*np.exp(-params[d1+1]*(single_index(x.iloc[:,:-d2])(params[0:d1]))**2
                                )+np.dot(x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

In [182]:
# def poly_func(x):
#     lx = x.iloc[:,:-2].shape[1]
#     def objective_func(params):
#         func = params[lx]+params[lx+1]*(single_index(x.iloc[:,:-2])(params[0:lx]))+params[lx+2]*((
#             single_index(x.iloc[:,:-2])(params[0:lx]))**2)+np.dot(x.iloc[:,-2:], params[-2:])
#         return func
#     return objective_func

In [183]:
def poly_func(x):
    def objective_func(params):
        func = params[d1]+params[d1+1]*(single_index(x.iloc[:,:-d2])(params[0:d1]))+params[d1+2]*((
            single_index(x.iloc[:,:-d2])(params[0:d1]))**2)+np.dot(x.iloc[:,-d2:], params[-d2:])
        return func
    return objective_func

### Model Estimation

In [184]:
def constraint_func(x):
    def constraint(params):
        con = 0
        for j in np.arange(0, x.iloc[:,:-2].shape[1]):
            con += params[j]**2
            cons = con - 1
        return cons
    return {'type':'eq', 'fun': constraint}

In [185]:
def loss(x, y, obj_func):
    def loss_func(params):
        error = np.sum((y - obj_func(x)(params)) ** 2)
        return error
    return loss_func

In [237]:
# cls_nls = CLS_Estimator(obj_func = poly_func, x0 = [0.001]*6)
cls = CLS_Estimator(obj_func = exp_shift_func, x0 = [0.001]*9, constraints = constraint_func(X))

In [238]:
# cls_nls.fit(X,y)
cls.fit(X,y)

CLS_Estimator(constraints={'fun': <function constraint_func.<locals>.constraint at 0x0000018BB5013488>,
                           'type': 'eq'},
              obj_func=<function exp_shift_func at 0x0000018BB52989D8>,
              x0=[0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                  0.001])

In [239]:
# print(cls_nls.params_)
print(cls.params_)

[-5.25407939e-02 -3.50822127e-01  9.34967329e-01 -1.49383116e-01
  1.90077885e+00  1.00000000e-03  1.00000000e-03  6.53250808e-02
 -3.72885784e-01]

In [240]:
cls.params_[0]**2+cls.params_[1]**2+cls.params_[2]**2

1.000000605437351

### GridSearch and CrossValidation

### Train_test split

In [19]:
# X_train, X_test, y_train, y_test = dpr.data_split(df, 'EQP', "1987-12-01", "2019-12-01")

In [20]:
# val_length = 1
# test_length = 32
# step = 3
# cv_outer = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=int((12/step) * test_length), test_size=step)
# cv_inner = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=int((12/step) * val_length), test_size=step)

In [68]:
# space = dict()
# space['constraints'] = [(), constraint_func(X_train)]
# space[x0] = [[0.01]*4,[1]*4]

In [ ]:
# models, c, model_mse = mr.Nested_CV(X = X, y = y, model = cls, 
#                                              cv_inner = cv_inner, cv_outer = cv_outer, 
#                                              search_method = 'Grid', space = space)

### Benchmark model: sample mean

In [ ]:
# sm_pred, sm_mse = bench.sample_mean(y, "1988-01-01", cv_outer = cv_outer)

### $R^2$ plot

In [ ]:
# bench.plot_R2(y_test[::3], c, sm_pred, adjust = False, alpha = 0.8)