In [1]:
import os
import itertools
import xlsxwriter

import numpy as np
import pandas as pd
from scipy.optimize import minimize
from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
import matplotlib.pyplot as plt

import DataPreparation as dpr
import ModelRun as mr
import benchmarks as bench
from MyEstimators import CLS_Estimator

# Load data

In [2]:
df = dpr.read_data('EQP_Quarterly')
df = dpr.data_clean(df, '1956-01-01')

In [3]:
df.head()

,EQP,DP,DY,EP,DE,svar,b/m,ntis,tbl,lty,...,TMS,DFR,DFY,infl,c,w,y,cay,AAA,BAA
time,,,,,,,,,,,,,,,,,,,,,
1956-03-01,0.066512,-3.333030,-3.269151,-2.575525,-0.757505,0.003289,0.531077,0.026695,0.0225,0.0303,...,0.0078,0.005159,0.0050,0.000000,9.272498,11.092725,9.100386,0.007275,0.0310,0.0360
1956-06-01,-0.028264,-3.261722,-3.293365,-2.568575,-0.693147,0.003688,0.551565,0.025672,0.0249,0.0299,...,0.0050,-0.021824,0.0050,0.014925,9.271728,11.091665,9.107828,0.000775,0.0326,0.0376
1956-09-01,-0.034415,-3.204645,-3.239744,-2.573142,-0.631503,0.002519,0.571910,0.029362,0.0284,0.0324,...,0.0040,0.005663,0.0051,0.007353,9.269304,11.086198,9.106428,0.000663,0.0356,0.0407
1956-12-01,0.033241,-3.289216,-3.260525,-2.616389,-0.672827,0.004394,0.544177,0.026149,0.0321,0.0345,...,0.0024,-0.002208,0.0062,0.007299,9.277993,11.096678,9.118405,-0.002524,0.0375,0.0437
1957-03-01,-0.050750,-3.238565,-3.294980,-2.562911,-0.675654,0.002288,0.599819,0.026600,0.0308,0.0331,...,0.0023,-0.000368,0.0077,0.007246,9.280482,11.090721,9.117433,0.002041,0.0366,0.0443

## Add $y_{t-1}, y_{t-2}$ and construct X and y

In [4]:
df['y_lag'] = df['EQP'].shift(1)
df = df.dropna()
df.head()

,EQP,DP,DY,EP,DE,svar,b/m,ntis,tbl,lty,...,DFR,DFY,infl,c,w,y,cay,AAA,BAA,y_lag
time,,,,,,,,,,,,,,,,,,,,,
1956-06-01,-0.028264,-3.261722,-3.293365,-2.568575,-0.693147,0.003688,0.551565,0.025672,0.0249,0.0299,...,-0.021824,0.0050,0.014925,9.271728,11.091665,9.107828,0.000775,0.0326,0.0376,0.066512
1956-09-01,-0.034415,-3.204645,-3.239744,-2.573142,-0.631503,0.002519,0.571910,0.029362,0.0284,0.0324,...,0.005663,0.0051,0.007353,9.269304,11.086198,9.106428,0.000663,0.0356,0.0407,-0.028264
1956-12-01,0.033241,-3.289216,-3.260525,-2.616389,-0.672827,0.004394,0.544177,0.026149,0.0321,0.0345,...,-0.002208,0.0062,0.007299,9.277993,11.096678,9.118405,-0.002524,0.0375,0.0437,-0.034415
1957-03-01,-0.050750,-3.238565,-3.294980,-2.562911,-0.675654,0.002288,0.599819,0.026600,0.0308,0.0331,...,-0.000368,0.0077,0.007246,9.280482,11.090721,9.117433,0.002041,0.0366,0.0443,0.033241
1957-06-01,0.075114,-3.309868,-3.238565,-2.628349,-0.681519,0.001363,0.565877,0.030528,0.0329,0.0361,...,-0.003789,0.0072,0.010791,9.278119,11.104916,9.118823,-0.004528,0.0391,0.0463,-0.050750

In [5]:
df_AR2 = df.copy()
df_AR2['y_2lag'] = df['y_lag'].shift(1)
df_AR2 = df_AR2.dropna()
df_AR2.head()

,EQP,DP,DY,EP,DE,svar,b/m,ntis,tbl,lty,...,DFY,infl,c,w,y,cay,AAA,BAA,y_lag,y_2lag
time,,,,,,,,,,,,,,,,,,,,,
1956-09-01,-0.034415,-3.204645,-3.239744,-2.573142,-0.631503,0.002519,0.571910,0.029362,0.0284,0.0324,...,0.0051,0.007353,9.269304,11.086198,9.106428,0.000663,0.0356,0.0407,-0.028264,0.066512
1956-12-01,0.033241,-3.289216,-3.260525,-2.616389,-0.672827,0.004394,0.544177,0.026149,0.0321,0.0345,...,0.0062,0.007299,9.277993,11.096678,9.118405,-0.002524,0.0375,0.0437,-0.034415,-0.028264
1957-03-01,-0.050750,-3.238565,-3.294980,-2.562911,-0.675654,0.002288,0.599819,0.026600,0.0308,0.0331,...,0.0077,0.007246,9.280482,11.090721,9.117433,0.002041,0.0366,0.0443,0.033241,-0.034415
1957-06-01,0.075114,-3.309868,-3.238565,-2.628349,-0.681519,0.001363,0.565877,0.030528,0.0329,0.0361,...,0.0072,0.010791,9.278119,11.104916,9.118823,-0.004528,0.0391,0.0463,-0.050750,0.033241
1957-09-01,-0.108352,-3.182306,-3.292675,-2.503465,-0.678841,0.004218,0.624151,0.034363,0.0353,0.0364,...,0.0081,0.007117,9.281519,11.089344,9.117364,0.003433,0.0412,0.0493,0.075114,-0.050750

# Construct single-index and nonlinear models

## Single-index

In [6]:
def single_index(x):
    if isinstance(x, (pd.DataFrame, np.ndarray)):
        if isinstance(x, pd.DataFrame):
            x_values = x.values
        else:
            pass
    else:
        raise Exception('wrong type')

    def u(theta):
        if len(theta) == x_values.shape[1]:
            sum_up = [x_values[:, i] * theta[i] for i in range(x_values.shape[1])]
            index = np.sum(sum_up, axis=0)
        else:
            raise Exception('wrong parameter dimension')
        return index

    return u

### dimension function

In [7]:
extra_params = {'sin_func':1,
               'cos_func':1,
               'scaled_sin_func':2,
               'scaled_cos_func':2,
               'exp_func':2,
               'exp_shift_func':2,
                'poly_func':3,
                'linear_func':2
               }

In [8]:
def dimensions(non_sta, sta, func):
    stas = sta.shape[1]
    nonstas = non_sta.shape[1]
    extra = range(0, extra_params[func])
    return nonstas, stas, extra

## Nonlienar Models

In [9]:
def sin_func(x):
    def objective_func(params):
        func = np.sin(single_index(x.iloc[:,:d1])(params[0:d1])+params[d1+d2+extra[0]])+np.dot(
            x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [10]:
def cos_func(x):
    def objective_func(params):
        func = np.cos(single_index(x.iloc[:,:d1])(params[0:d1])+params[d1+d2+extra[0]])+np.dot(
            x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [11]:

def scaled_sin_func(x):
    def objective_func(params):
        func = np.sin(params[d1+d2+extra[1]]*single_index(x.iloc[:,:d1])(
            params[0:d1])+params[d1+d2+extra[0]])+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [12]:
def scaled_cos_func(x):
    def objective_func(params):
        func = np.cos(params[d1+d2+extra[1]]*single_index(x.iloc[:,:d1])(
            params[0:d1])+params[d1+d2+extra[0]])+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [13]:


def exp_shift_func(x):
    def objective_func(params):
        func = 1 - np.exp(params[d1+d2+extra[1]]*((single_index(x.iloc[:,:d1])(
            params[0:d1]))-params[d1+d2+extra[0]])**2)+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [14]:
def exp_func(x):
    def objective_func(params):
        func = params[d1+d2+extra[0]]*np.exp(-params[d1+d2+extra[1]]*(single_index(x.iloc[:,:d1])(params[0:d1]))**2
                                )+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
        return func
    return objective_func

In [15]:
def poly_func(x):
    def objective_func(params):
        func = params[d1+d2+extra[0]]+params[d1+d2+extra[1]]*(single_index(x.iloc[:,:d1])(
            params[0:d1]))+params[d1+d2+extra[2]]*((single_index(x.iloc[:,:d1])(
            params[0:d1]))**2)+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
#                (single_index(x.iloc[:,:d1])(params[0:d1])
        return func
    return objective_func

In [16]:
def linear_func(x):
    def objective_func(params):
        func = params[d1+d2+extra[0]]+params[d1+d2+extra[1]]*(single_index(x.iloc[:,:d1])(
            params[0:d1]))+np.dot(x.iloc[:,d1:d1+d2], params[d1:d1+d2])
#                (single_index(x.iloc[:,:d1])(params[0:d1])
        return func
    return objective_func

### Constraint

In [17]:
def constraint_func(x):
    def constraint(params):
        con = 0
        for j in np.arange(0, x.iloc[:,:d1].shape[1]):
            con += params[j]**2
            cons = con - 1
        return cons
    return {'type':'eq', 'fun': constraint}

## Empirical Study

### Cointegrated predictors
- dividend-price ratio and dividend yield
- T-bill rate and long-term yield
- dividend-price ratio and earningprice ratio
- baa- and aaa-rated corporate bond yields

In [20]:
co1 = df[['DP', 'DY']]
co2 = df[['tbl', 'lty']]
co3 = df[['DP', 'EP']]
co4 = df[['BAA', 'AAA']]
y = df[['EQP']].squeeze()

station_ar1 = df[['y_lag', 'cay']]

cointe_ar1 = [co1, co2, co3, co4]
names_ar1 = ['co1', 'co2', 'co3', 'co4']

for i in range(len(cointe_ar1)):
    cointe_ar1[i].name = names_ar1[i]

In [21]:
co1_ar2 = df_AR2[['DP', 'DY']]
co2_ar2 = df_AR2[['tbl', 'lty']]
co3_ar2 = df_AR2[['DP', 'EP']]
co4_ar2 = df_AR2[['BAA', 'AAA']]
station_ar2 = df_AR2[['y_lag', 'cay']]

y_lag2 = df_AR2[['EQP']].squeeze()

X_train_AR2 = df_AR2.loc[:"1988-01-01"]
y_train_AR2 = y_lag2.loc[:"1988-01-01"]

X_test_AR2 = df_AR2.loc["1988-01-01":"2018-12-01"]
y_test_AR2 = y_lag2.loc["1988-01-01":"2018-12-01"]
station_train = df_AR2.loc[:"1988-01-01"][['y_lag', 'cay']]

cointe_ar2 = [co1_ar2, co2_ar2, co3_ar2, co4_ar2]
names_ar2 = ['co1', 'co2', 'co3', 'co4']

for i in range(len(cointe_ar1)):
    cointe_ar2[i].name = names_ar2[i]

### Stationary variables

### Fit model and Save Results

In [22]:
fun_list = [sin_func,
            cos_func,
            scaled_sin_func,
            scaled_cos_func,
            exp_func,
            exp_shift_func,
            poly_func,
            linear_func
           ]

In [23]:
# Set up hierachical index
fun_names = [i.__name__ for i in fun_list]
cointe_names = [i.name for i in cointe_ar1]
iterables = [fun_names, cointe_names]

In [24]:
#Set up directory
parent = os.getcwd()
folder = 'results'
path = os.path.join(parent, folder)
if not os.path.exists(path):
    os.makedirs(path)

In [25]:
results = pd.DataFrame()
for i, j in itertools.product(fun_list, cointe_ar1):
    ################################# Set up dimensions ######################################
    d1, d2, extra= dimensions(j,station_ar1, i.__name__)
    initial_len = d1+d2+extra[-1]+1
    
    # Set up dataframes
    iterables = [[i.__name__], [j.name]]
    sec_columns = ['param_'+str(i) for i in range(1,initial_len+1)]
    multi_index = pd.MultiIndex.from_product(iterables, names=["function", "variables"])
    multi_columns = pd.MultiIndex.from_product([['NLS', 'CLS'], sec_columns],
                                               names=['Estimator', 'Parameters'])
    result = pd.DataFrame(index = multi_index, columns = multi_columns)
    ###################################### Set up X ##########################################
    X_ = j.join(station_ar1)
    # Fit models
    nls = CLS_Estimator(obj_func = i, x0 = [0.001]*initial_len, options={'maxiter':50000})
    cls = CLS_Estimator(obj_func = i, x0 = [0.001]*initial_len, constraints = constraint_func(X_), options={'maxiter':50000})
    nls.params_ = nls.fit(X_,y).params_
    cls.params_ = cls.fit(X_,y).params_
    # Save results to dataframe
    result.loc[i.__name__,j.name].loc['NLS'] = nls.params_ 
    result.loc[i.__name__,j.name].loc['CLS'] = cls.params_ 
    # Put into one table
    results = results.append(result, ignore_index = False, sort = False)
    
# Export to Excel
results.to_excel('results/full_sample.xlsx')

In [26]:
results

Estimator                       CLS                                           \
Parameters                  param_1   param_2   param_3   param_4    param_5
function        variables
sin_func        co1        0.709838 -0.704365  0.022517 -0.104848 -15.689339
                co2        0.495117 -0.868826  0.079209  0.054523 -50.222284
                co3        0.715437 -0.698678 -0.221696 -0.790351  -2.565328
                co4        0.574137 -0.818759  0.079262 -0.074913   0.022509
cos_func        co1       -0.704457  0.709747  0.126241 -0.243137   7.850925
                co2       -0.495058   0.86886  0.079204   0.05441  45.509892
                co3       -0.678463  0.734635  0.322506  0.325529   1.202326
                co4        0.761566 -0.648087  0.067766 -0.137595   1.543912
scaled_sin_func co1        0.977486     0.211 -0.750461  0.799785   2.079634
                co2        0.751605 -0.659613  0.066743  -0.24825   0.003686
                co3        0.988094   0.15385  0.060808 -0.220348   3.223946
                co4        0.703305  0.710889  0.073754 -0.105436   0.024753
scaled_cos_func co1       -0.709075  0.705133  0.000845 -0.076091  -1.594326
                co2        0.751651 -0.659562  0.066762 -0.248801   1.567109
                co3       -0.045418 -0.998968  0.075659 -0.190847  -1.613383
                co4        0.757841  0.652439  0.073887 -0.107043   1.546119
exp_func        co1        0.707042  0.707172  0.102063 -0.189255   7.083617
                co2        0.707111  0.707103  0.078531 -0.161658   0.011254
                co3        0.700094  0.714051  0.102103 -0.189246    4.72573
                co4         0.70711  0.707104   0.07853 -0.161636   0.011256
exp_shift_func  co1        0.705182  0.709027 -1.985168  2.266861  -0.008019
                co2       -0.731526  0.681814  0.067964 -0.225331  -0.020163
                co3        0.703459  0.710736 -1.985168  2.266871  -0.007402
                co4       -0.910539  0.413423  0.071828 -0.108872  -0.103519
poly_func       co1       -0.170417  0.985372  0.094352 -0.099867   0.089072
                co2        0.753146 -0.657854  0.066668 -0.249176   0.004124
                co3       -0.053953  0.998543  0.051058 -0.195488  -0.187745
                co4       -0.639941  0.768424  0.028547  0.229723   0.030022
linear_func     co1        0.994188  0.107661  0.062431 -0.214212  -0.067527
                co2        0.751636 -0.659579  0.066708 -0.248357   0.003695
                co3        0.992642  0.121083  0.060459 -0.222119  -0.082469
                co4        0.700824  0.713334  0.073537 -0.106671   0.024678

Estimator                                                NLS              \
Parameters                   param_6      param_7    param_1     param_2
function        variables
sin_func        co1              NaN          NaN  -1.008436    1.002847
                co2              NaN          NaN  -0.786401    0.690315
                co3              NaN          NaN  -0.026356    -0.00009
                co4              NaN          NaN   0.258722   -0.471469
cos_func        co1              NaN          NaN  43.191122   40.112355
                co2              NaN          NaN    0.78978   -0.693522
                co3              NaN          NaN   5.481174    3.236682
                co4              NaN          NaN   -0.25377    0.466347
scaled_sin_func co1       -24.432325          NaN  -0.887837    0.882895
                co2        -1.047832          NaN   0.000288    0.000702
                co3         0.023583          NaN   0.032602    0.000021
                co4        -0.127135          NaN   0.000556    0.000578
scaled_cos_func co1         1.422241          NaN -380.98489  378.914234
                co2         1.048795          NaN  -2.502599    2.194256
                co3         0.017945          NaN   1.610638    0.003878
                co4         0.126366          NaN   0.269425    0.323242
exp_func        co1         4.188795          NaN   0.000997    0.001001
                co2         0.012104          NaN      0.001       0.001
                co3          3.47838          NaN   0.000996    0.000997
                co4         0.017258          NaN      0.001       0.001
exp_shift_func  co1         -8.34299          NaN  -0.000149    0.000014
                co2       -12.937967          NaN   0.001002    0.001004
                co3         -7.29647          NaN  -0.000165    0.000076
                co4        -2.980585          NaN   0.001005    0.001004
poly_func       co1          0.02359    -0.001105  -0.879188    0.874352
                co2        -1.075553    -2.620524   0.000287    0.000702
                co3        -0.128622    -0.019666   0.029565    0.000089
                co4          -0.1311 -1093.146086   0.000556    0.000578
linear_func     co1         -0.02001          NaN  -0.759275    0.755072
                co2        -1.047376          NaN   0.000288    0.000702
                co3        -0.024077          NaN   0.027261    0.000178
                co4        -0.126892          NaN   0.000556    0.000578

Estimator
Parameters                  param_3   param_4    param_5   param_6   param_7
function        variables
sin_func        co1        0.000839 -0.073964  -0.023462       NaN       NaN
                co2        0.066833 -0.247875   0.003686       NaN       NaN
                co3        0.059006 -0.224006  -0.083221       NaN       NaN
                co4        0.076593 -0.089747   0.023478       NaN       NaN
cos_func        co1       -0.372374  0.264272 -10.953037       NaN       NaN
                co2        0.066691 -0.249098   1.567156       NaN       NaN
                co3       -1.072841  0.600356  -1.294525       NaN       NaN
                co4        0.076522 -0.090179    1.54728       NaN       NaN
scaled_sin_func co1        0.000821 -0.075995  -0.023565  1.136082       NaN
                co2        0.078532 -0.161628   0.011252 -0.000215       NaN
                co3        0.059213 -0.223966  -0.083085  -0.80888       NaN
                co4        0.078532 -0.161629   0.011252 -0.000017       NaN
scaled_cos_func co1        0.000908 -0.075912   1.593878 -0.002647       NaN
                co2        0.066695  -0.24988   1.567051  -0.31459       NaN
                co3        0.058675 -0.223639   1.654191  0.016409       NaN
                co4        0.073541  -0.10555   1.546091  0.305342       NaN
exp_func        co1        0.078532 -0.161626   0.011252  0.000999       NaN
                co2        0.078532 -0.161626   0.011252     0.001       NaN
                co3        0.078532 -0.161626   0.011252  0.000996       NaN
                co4        0.078532 -0.161626   0.011252     0.001       NaN
exp_shift_func  co1        0.102017  -0.18926   0.000708 -0.000362       NaN
                co2        0.102017 -0.189262   0.000919  0.000963       NaN
                co3        0.102017  -0.18926   0.000701  -0.00033       NaN
                co4        0.102017 -0.189262   0.000923  0.000967       NaN
poly_func       co1        0.000542 -0.076459  -0.023139  1.141645 -0.000742
                co2        0.078532 -0.161628   0.011252 -0.000215     0.001
                co3        0.059217 -0.223773  -0.078354 -0.804902   0.38254
                co4        0.078532 -0.161628   0.011252 -0.000017     0.001
linear_func     co1         0.00053 -0.076007  -0.023266  1.322178       NaN
                co2        0.078532 -0.161628   0.011252 -0.000215       NaN
                co3        0.058987 -0.223917   -0.08343  -0.96629       NaN
                co4        0.078532 -0.161628   0.011252 -0.000017       NaN

## Use initial values from Linear regression (using Taylor expansion)

In [27]:
orders = {'sin_func':1,
          'cos_func':2,
          'scaled_sin_func':1,
          'scaled_cos_func':2,
          'exp_func':5,
          'exp_shift_func':4,
          'poly_func':2,
          'linear_func':1
               }

In [28]:
def Taylor_init(variables, station, y, function):
    
    d1, d2, extra = dimensions(variables, station, function.__name__)
    
    # find the initials for theta
    LR = LinearRegression()
    LR_theta = LR.fit(variables.iloc[:,1:], variables.iloc[:,:1])
    alpha = np.append(1, -LR_theta.coef_)
    theta = np.array(-alpha/np.linalg.norm(alpha))
#     print(len(theta))
    
    # calculate single-index
    u = single_index(variables)(theta)
    
    # find the initials for beta
    Xs = station.copy()
#     print(Xs.shape[1])
    Xs['u'], Xs['u2'], Xs['u3'], Xs['u4'], Xs['u6'] = u, u**2, u**3, u**4, u**6
    t_order = orders.get(function.__name__)
    
    if function == exp_func:
        X_reg = Xs.iloc[:, 0:d2+t_order].drop(['u', 'u3'], axis = 1)
    else:
        X_reg = Xs.iloc[:, 0:d2+t_order]
#     print(d2, t_order)
    LR_taylor = LR.fit(X_reg, y)
    theta_gamma = np.append(theta,LR_taylor.coef_[:d2])
#     print(len(theta_gamma))
    
    
    # initials for gammas
    initials = []
    if function == sin_func:
        initials = np.append(theta_gamma, LR_taylor.intercept_)
    elif function == scaled_sin_func:
        initials = np.append(theta_gamma, ([LR_taylor.intercept_], [LR_taylor.coef_[0]]))
    elif function == linear_func:
        initials = np.append(theta_gamma, ([LR_taylor.intercept_], [LR_taylor.coef_[0]]))
    elif function == poly_func:
        ini_poly_ = np.append(theta_gamma,LR_taylor.coef_[d2:])
        initials = np.insert(ini_poly_, 4, LR_taylor.intercept_)
    elif function == cos_func:
        initials = np.append(theta_gamma, [-LR_taylor.coef_[d2]])
    elif function == scaled_cos_func:
        initials = np.append(theta_gamma,(
            [-LR_taylor.coef_[d2]/np.sqrt(np.abs((1-LR_taylor.intercept_)*2))], [np.sqrt(np.abs((1-LR_taylor.intercept_)*2))]))
    elif function == exp_shift_func:
        initials = np.append(theta_gamma, [LR_taylor.coef_[-2]/(2*LR_taylor.coef_[-1]), np.sqrt(np.abs(LR_taylor.coef_[-1]))])
#         print(LR_taylor.coef_, LR_taylor.coef_[-2])
    elif function == exp_func:
        # initials =np.append(theta_gamma, [LR_taylor.intercept_, -LR_taylor.coef_[d2]/LR_taylor.intercept_])
        initials =np.append(theta_gamma, [LR_taylor.intercept_, LR_taylor.coef_[d2]])

    return initials

# Fit model and Save Results

In [29]:
results_Taylor = pd.DataFrame()
for i, j in itertools.product(fun_list, cointe_ar1):
    # Set up dimensions
    d1, d2, extra= dimensions(j,station_ar1, i.__name__)
    initial_len = d1+d2+extra[-1]+1
    # Set up dataframes
    iterables = [[i.__name__], [j.name]]
    sec_columns = ['param_'+str(i) for i in range(1,initial_len+1)]
    multi_index = pd.MultiIndex.from_product(iterables, names=["function", "variables"])
    multi_columns = pd.MultiIndex.from_product([['NLS', 'CLS'], sec_columns],
                                               names=['Estimator', 'Parameters'])
    result = pd.DataFrame(index = multi_index, columns = multi_columns)
    # Prepare X
    X_ = j.join(station_ar1)
    # Fit models
    nls = CLS_Estimator(obj_func = i, x0 = Taylor_init(j, station_ar1, y, i), options={'maxiter':1000000})
    cls = CLS_Estimator(obj_func = i, x0 = Taylor_init(j, station_ar1, y, i), constraints = constraint_func(X_), 
                        options={'maxiter':1000000})
    nls.params_ = nls.fit(X_,y).params_
    cls.params_ = cls.fit(X_,y).params_
    print(i.__name__, j.name)
    # Save results to dataframe
    result.loc[i.__name__,j.name].loc['NLS'] = nls.params_ 
    result.loc[i.__name__,j.name].loc['CLS'] = cls.params_ 
    # Put into one table
    results_Taylor = results_Taylor.append(result, ignore_index = False, sort = False)
    
# Export to Excel
results_Taylor.to_excel('results/Taylor_fullsample_0801.xlsx')
results_Taylor.tail()

sin_func co1
sin_func co2
sin_func co3
sin_func co4
cos_func co1
cos_func co2
cos_func co3
cos_func co4
scaled_sin_func co1
scaled_sin_func co2
scaled_sin_func co3
scaled_sin_func co4
scaled_cos_func co1
scaled_cos_func co2
scaled_cos_func co3
scaled_cos_func co4
exp_func co1
exp_func co2
exp_func co3
exp_func co4
exp_shift_func co1
exp_shift_func co2
exp_shift_func co3
exp_shift_func co4
poly_func co1
poly_func co2
poly_func co3
poly_func co4
linear_func co1
linear_func co2
linear_func co3
linear_func co4

Estimator                   CLS                                          \
Parameters              param_1   param_2   param_3   param_4   param_5
function    variables
poly_func   co4       -0.639086  0.769135  0.029136  0.222809  0.029647
linear_func co1       -0.709067  0.705141  0.000527 -0.075851 -0.023234
            co2       -0.751669  0.659541  0.066719 -0.248713  0.003689
            co3       -0.999994 -0.003533  0.059013 -0.223997 -0.083196
            co4        0.476826 -0.878998  0.076501 -0.090205  0.023524

Estimator                                          NLS                      \
Parameters              param_6      param_7   param_1   param_2   param_3
function    variables
poly_func   co4        0.171965 -1066.824925 -0.647757  0.777973  0.028445
linear_func co1        1.416036          NaN -1.080529  1.074592  0.000564
            co2         1.04774          NaN -0.857493  0.752474  0.066743
            co3        0.026346          NaN -0.780052 -0.003462  0.059018
            co4        0.528158          NaN -1.472723 -0.020689  0.072875

Estimator
Parameters              param_4   param_5   param_6      param_7
function    variables
poly_func   co4        0.229783  0.030041 -0.098698 -1066.754869
linear_func co1       -0.075504 -0.023073  0.928931          NaN
            co2       -0.249108  0.003693  0.919095          NaN
            co3       -0.223942 -0.083234  0.033766          NaN
            co4       -0.111111  0.024863  0.113793          NaN

In [30]:
results_Taylor

Estimator                       CLS                                           \
Parameters                  param_1   param_2   param_3   param_4    param_5
function        variables
sin_func        co1       -0.709831  0.704372  0.022482 -0.105361  -0.018576
                co2       -0.756221  0.654316  0.067078 -0.241745   0.004572
                co3       -0.715438  0.698677 -0.221703 -0.790292  -0.576272
                co4       -0.761685  0.647948   0.06769 -0.137607   0.026905
cos_func        co1       -0.709842  0.704361  0.022494 -0.105349  -1.589442
                co2       -0.756206  0.654334   0.06692 -0.241842  -1.566229
                co3       -0.678465  0.734633  0.322686  0.325629   1.202308
                co4       -0.574133  0.818762  0.079255 -0.074912  32.964214
scaled_sin_func co1       -0.709086  0.705122  0.000797 -0.077841  -0.023634
                co2        -0.75149  0.659745  0.066715 -0.248793   0.003674
                co3       -0.999994 -0.003449  0.059006    -0.224  -0.083217
                co4        0.475317 -0.879815  0.076475 -0.090293   0.023536
scaled_cos_func co1       -0.709068   0.70514  0.000899 -0.076231  -1.594249
                co2       -0.752034  0.659124  0.066861 -0.248129   -1.56707
                co3       -0.767708  0.640799  0.067778 -0.182105   1.580152
                co4       -0.483607  0.875285  0.076601 -0.089606   1.547322
exp_func        co1       -0.814028  0.580826  0.102023 -0.189651  -0.017952
                co2       -0.938458  0.345393  0.070003 -0.150979   0.016927
                co3       -0.972991 -0.230841  0.070779 -0.209115   0.001374
                co4       -0.549061  0.835782  0.075699 -0.120079   0.015935
exp_shift_func  co1       -0.707521  0.706692  0.083201   -0.1822   0.073713
                co2       -0.731535  0.681804  0.067945 -0.225439   -0.02013
                co3       -0.048219  0.998837 -1.985172  2.266877 -23.629613
                co4        -0.66623  0.745746  0.041818  0.145707  -0.002983
poly_func       co1       -0.709069  0.705139  0.000653 -0.075503  -0.023284
                co2       -0.724389  0.689391  0.067567 -0.272215   0.000857
                co3       -0.979849  0.199741  0.034161 -0.160347  -0.829904
                co4       -0.639086  0.769135  0.029136  0.222809   0.029647
linear_func     co1       -0.709067  0.705141  0.000527 -0.075851  -0.023234
                co2       -0.751669  0.659541  0.066719 -0.248713   0.003689
                co3       -0.999994 -0.003533  0.059013 -0.223997  -0.083196
                co4        0.476826 -0.878998  0.076501 -0.090205   0.023524

Estimator                                                       NLS  \
Parameters                     param_6      param_7         param_1
function        variables
sin_func        co1                NaN          NaN       -1.008332
                co2                NaN          NaN       -0.776286
                co3                NaN          NaN       -0.026355
                co4                NaN          NaN        0.257727
cos_func        co1                NaN          NaN       -1.008559
                co2                NaN          NaN       -0.778349
                co3                NaN          NaN        0.026413
                co4                NaN          NaN       -0.246505
scaled_sin_func co1           1.422698          NaN         -1.0424
                co2           1.048277          NaN       -0.859137
                co3           0.026354          NaN       -0.677667
                co4            0.52465          NaN       -1.472687
scaled_cos_func co1           1.422193          NaN        1.308551
                co2           1.047415          NaN       -0.682024
                co3          -0.022298          NaN        0.020581
                co4           0.544423          NaN        -0.18216
exp_func        co1          23.033629          NaN       -1.616288
                co2         403.004361          NaN       -6.144483
                co3          -0.119505          NaN       -0.652829
                co4        1135.310681          NaN       -7.964196
exp_shift_func  co1           3.728836          NaN       -0.949847
                co2         -12.952401          NaN        0.084345
                co3          -5.904928          NaN  2423082.125226
                co4        2147.617122          NaN       -0.320055
poly_func       co1           1.415525     0.008927       -0.712608
                co2           1.590411   -28.011452       -0.586084
                co3           0.535571    -0.083763       -4.559043
                co4           0.171965 -1066.824925       -0.647757
linear_func     co1           1.416036          NaN       -1.080529
                co2            1.04774          NaN       -0.857493
                co3           0.026346          NaN       -0.780052
                co4           0.528158          NaN       -1.472723

Estimator                                                                     \
Parameters                        param_2   param_3   param_4        param_5
function        variables
sin_func        co1              1.002748  0.000805 -0.077334      -0.023443
                co2              0.676577  0.066996 -0.244228       0.004087
                co3             -0.000094  0.059019 -0.224064     -12.649602
                co4             -0.470471   0.07659 -0.090404       0.023487
cos_func        co1               1.00295  0.000815 -0.075824       -1.59433
                co2              0.679821  0.066654 -0.245015      -1.566821
                co3              -0.00001  0.058954 -0.223495       1.653938
                co4               0.45875  0.076427 -0.090107      32.963153
scaled_sin_func co1              1.036575   0.00081 -0.076936      -0.023628
                co2              0.754006  0.066726  -0.24915       0.003695
                co3             -0.000999  0.059041  -0.22618      -0.083331
                co4             -0.020656  0.072875 -0.111114       0.024863
scaled_cos_func co1              1.550801  0.304232  -4.04763       0.993436
                co2              0.598564   0.06652  -0.25164        -1.5671
                co3              0.000084  0.059003 -0.223346     -10.912273
                co4              0.336274  0.076485 -0.090354       1.547268
exp_func        co1              1.508077  0.069621 -0.209268      -0.267408
                co2              4.360667  0.052714 -0.247285       0.033612
                co3             -0.150804  0.070847 -0.209486       0.001384
                co4              9.485961  0.057634  0.074799       0.037186
exp_shift_func  co1              0.948746  0.083229 -0.182684       0.098938
                co2             -0.052571  0.103282 -0.206731       -0.00042
                co3        1808653.347437 -1.985172  2.266875  600645.332501
                co4              0.383751  0.083023 -0.087313       0.000642
poly_func       co1              0.708657  0.000585 -0.075911      -0.023296
                co2              0.522988  0.067498  -0.25608       0.004575
                co3              0.928307  0.034447 -0.160326      -0.823555
                co4              0.777973  0.028445  0.229783       0.030041
linear_func     co1              1.074592  0.000564 -0.075504      -0.023073
                co2              0.752474  0.066743 -0.249108       0.003693
                co3             -0.003462  0.059018 -0.223942      -0.083234
                co4             -0.020689  0.072875 -0.111111       0.024863

Estimator
Parameters                        param_6      param_7
function        variables
sin_func        co1                   NaN          NaN
                co2                   NaN          NaN
                co3                   NaN          NaN
                co4                   NaN          NaN
cos_func        co1                   NaN          NaN
                co2                   NaN          NaN
                co3                   NaN          NaN
                co4                   NaN          NaN
scaled_sin_func co1              0.967529          NaN
                co2              0.917307          NaN
                co3              0.038989          NaN
                co4              0.113798          NaN
scaled_cos_func co1               2.17374          NaN
                co2              1.153078          NaN
                co3              1.280981          NaN
                co4              1.377824          NaN
exp_func        co1             22.777125          NaN
                co2            403.012663          NaN
                co3             -0.266908          NaN
                co4           1135.316457          NaN
exp_shift_func  co1               2.06829          NaN
                co2            584.719454          NaN
                co3       -2729191.478774          NaN
                co4           2194.819121          NaN
poly_func       co1              1.408806     0.009038
                co2              1.592034   -28.012294
                co3              0.114182    -0.003836
                co4             -0.098698 -1066.754869
linear_func     co1              0.928931          NaN
                co2              0.919095          NaN
                co3              0.033766          NaN
                co4              0.113793          NaN

### GridSearch and CrossValidation

### Train_test split

In [31]:
# val_length = 1
test_length = 31
step = 1
### quarterly data:4
freq = 4
# cv_outer = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=int((12/step) * test_length), test_size=step)
# cv_inner = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=int((12/step) * val_length), test_size=step)
cv_outer = TimeSeriesSplit(max_train_size=None, n_splits=test_length*freq, test_size=step, gap=0)
# cv_inner = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=4, test_size=step)

In [32]:
fun_list = [sin_func, cos_func, scaled_sin_func, scaled_cos_func, exp_shift_func, exp_func, poly_func, linear_func]

In [33]:
oos_MSE = pd.DataFrame()

rows = df.loc["1988-01-01":"2018-12-01"].index
sec_columns = ['CLS_MSE', 'SM_MSE', 'NLS_MSE', 'AR1_MSE', 'AR2_MSE', 'AR_cay_MSE']
multi_columns = pd.MultiIndex.from_product([['co1', 'co2', 'co3', 'co4'], sec_columns],names=['Variable', 'Model'])
        
oos_MSE = pd.DataFrame(index = multi_columns, columns = rows)

In [78]:
# x0 = Taylor_init(co1_ar2.loc[:"1988-01-01"], station_train.loc[:"1988-01-01"], y_train_AR2.loc[:"1988-01-01"], sin_func)
# X_ = co1_ar2.join(station_ar2) 
# d1, d2, extra= dimensions(co1_ar2,station_ar2, sin_func.__name__)
# # cls = CLS_Estimator(obj_func = sin_func, x0 = x0, constraints = constraint_func(X_))
# cls = CLS_Estimator(obj_func = sin_func, x0 = [0.001]*(d1+d2+extra[-1]+1), constraints = constraint_func(X_))
# cv_result = cross_validate(cls, X_, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')

In [79]:
# mse_s0 = cv_result['test_score']
# mse_s0[:5]
# mse_st = cv_result['test_score']
# mse_st[:5]

array([-0.01738475, -0.00541498, -0.00116472, -0.00042275, -0.00612573])

In [80]:
# for train_index, test_index in cv_outer.split(X_):
#     X_train, X_test = X_.iloc[train_index, :], X_.iloc[test_index, :]
#     y_train, y_test = y_lag2.iloc[train_index], y_lag2.iloc[test_index]
# #     cls = CLS_Estimator(obj_func = sin_func, x0 = x0, constraints = constraint_func(X_))
#     cls = CLS_Estimator(obj_func = sin_func, x0 = [0.001]*(d1+d2+extra[-1]+1), constraints = constraint_func(X_))
#     cls.fit(X_train, y_train)
#     print((y_test-cls.predict(X_test))**2)

time
1988-03-01    0.017385
Name: EQP, dtype: float64
time
1988-06-01    0.005415
Name: EQP, dtype: float64
time
1988-09-01    0.001165
Name: EQP, dtype: float64
time
1988-12-01    0.000423
Name: EQP, dtype: float64
time
1989-03-01    0.006126
Name: EQP, dtype: float64
time
1989-06-01    0.009761
Name: EQP, dtype: float64
time
1989-09-01    0.015462
Name: EQP, dtype: float64
time
1989-12-01    0.000537
Name: EQP, dtype: float64
time
1990-03-01    0.008773
Name: EQP, dtype: float64
time
1990-06-01    0.005209
Name: EQP, dtype: float64
time
1990-09-01    0.091678
Name: EQP, dtype: float64
time
1990-12-01    0.019358
Name: EQP, dtype: float64
time
1991-03-01    0.0349
Name: EQP, dtype: float64
time
1991-06-01    0.003384
Name: EQP, dtype: float64
time
1991-09-01    0.003081
Name: EQP, dtype: float64
time
1991-12-01    0.009039
Name: EQP, dtype: float64
time
1992-03-01    0.007646
Name: EQP, dtype: float64
time
1992-06-01    0.000002
Name: EQP, dtype: float64
time
1992-09-01    0.000356
Name: EQP, dtype: float64
time
1992-12-01    0.002838
Name: EQP, dtype: float64
time
1993-03-01    0.001217
Name: EQP, dtype: float64
time
1993-06-01    0.000771
Name: EQP, dtype: float64
time
1993-09-01    0.000164
Name: EQP, dtype: float64
time
1993-12-01    0.000061
Name: EQP, dtype: float64
time
1994-03-01    0.000267
Name: EQP, dtype: float64
time
1994-06-01    0.000003
Name: EQP, dtype: float64
time
1994-09-01    0.000084
Name: EQP, dtype: float64
time
1994-12-01    0.001264
Name: EQP, dtype: float64
time
1995-03-01    0.000301
Name: EQP, dtype: float64
time
1995-06-01    0.000197
Name: EQP, dtype: float64
time
1995-09-01    0.006564
Name: EQP, dtype: float64
time
1995-12-01    0.002114
Name: EQP, dtype: float64
time
1996-03-01    0.001488
Name: EQP, dtype: float64
time
1996-06-01    0.000437
Name: EQP, dtype: float64
time
1996-09-01    0.000006
Name: EQP, dtype: float64
time
1996-12-01    0.006982
Name: EQP, dtype: float64
time
1997-03-01    0.000375
Name: EQP, dtype: float64
time
1997-06-01    0.046841
Name: EQP, dtype: float64
time
1997-09-01    0.001136
Name: EQP, dtype: float64
time
1997-12-01    0.001273
Name: EQP, dtype: float64
time
1998-03-01    0.020974
Name: EQP, dtype: float64
time
1998-06-01    0.002277
Name: EQP, dtype: float64
time
1998-09-01    0.070548
Name: EQP, dtype: float64
time
1998-12-01    0.077309
Name: EQP, dtype: float64
time
1999-03-01    0.000123
Name: EQP, dtype: float64
time
1999-06-01    0.000015
Name: EQP, dtype: float64
time
1999-09-01    0.044406
Name: EQP, dtype: float64
time
1999-12-01    0.026591
Name: EQP, dtype: float64
time
2000-03-01    0.004302
Name: EQP, dtype: float64
time
2000-06-01    0.021502
Name: EQP, dtype: float64
time
2000-09-01    0.009604
Name: EQP, dtype: float64
time
2000-12-01    0.046933
Name: EQP, dtype: float64
time
2001-03-01    0.075775
Name: EQP, dtype: float64
time
2001-06-01    0.004549
Name: EQP, dtype: float64
time
2001-09-01    0.103689
Name: EQP, dtype: float64
time
2001-12-01    0.025471
Name: EQP, dtype: float64
time
2002-03-01    0.00154
Name: EQP, dtype: float64
time
2002-06-01    0.079365
Name: EQP, dtype: float64
time
2002-09-01    0.002451
Name: EQP, dtype: float64
time
2002-12-01    0.020103
Name: EQP, dtype: float64
time
2003-03-01    0.007508
Name: EQP, dtype: float64
time
2003-06-01    0.05196
Name: EQP, dtype: float64
time
2003-09-01    0.000056
Name: EQP, dtype: float64
time
2003-12-01    0.028274
Name: EQP, dtype: float64
time
2004-03-01    0.000013
Name: EQP, dtype: float64
time
2004-06-01    1.719803e-07
Name: EQP, dtype: float64
time
2004-09-01    0.000051
Name: EQP, dtype: float64
time
2004-12-01    0.00057
Name: EQP, dtype: float64
time
2005-03-01    0.000108
Name: EQP, dtype: float64
time
2005-06-01    0.000043
Name: EQP, dtype: float64
time
2005-09-01    0.000731
Name: EQP, dtype: float64
time
2005-12-01    2.461298e-07
Name: EQP, dtype: float64
time
2006-03-01    0.000018
Name: EQP, dtype: float64
time
2006-06-01    0.000208
Name: EQP, dtype: float64
time
2006-09-01    0.003494
Name: EQP, dtype: float64
time
2006-12-01    0.000058
Name: EQP, dtype: float64
time
2007-03-01    0.000084
Name: EQP, dtype: float64
time
2007-06-01    0.004205
Name: EQP, dtype: float64
time
2007-09-01    0.000077
Name: EQP, dtype: float64
time
2007-12-01    0.00021
Name: EQP, dtype: float64
time
2008-03-01    0.001019
Name: EQP, dtype: float64
time
2008-06-01    0.004095
Name: EQP, dtype: float64
time
2008-09-01    0.000391
Name: EQP, dtype: float64
time
2008-12-01    0.004609
Name: EQP, dtype: float64
time
2009-03-01    0.000273
Name: EQP, dtype: float64
time
2009-06-01    0.060685
Name: EQP, dtype: float64
time
2009-09-01    0.039889
Name: EQP, dtype: float64
time
2009-12-01    0.000261
Name: EQP, dtype: float64
time
2010-03-01    0.000265
Name: EQP, dtype: float64
time
2010-06-01    0.001341
Name: EQP, dtype: float64
time
2010-09-01    0.001482
Name: EQP, dtype: float64
time
2010-12-01    0.000872
Name: EQP, dtype: float64
time
2011-03-01    0.000167
Name: EQP, dtype: float64
time
2011-06-01    1.687028e-09
Name: EQP, dtype: float64
time
2011-09-01    0.001635
Name: EQP, dtype: float64
time
2011-12-01    0.001568
Name: EQP, dtype: float64
time
2012-03-01    0.001237
Name: EQP, dtype: float64
time
2012-06-01    0.000068
Name: EQP, dtype: float64
time
2012-09-01    0.000433
Name: EQP, dtype: float64
time
2012-12-01    0.000002
Name: EQP, dtype: float64
time
2013-03-01    0.00104
Name: EQP, dtype: float64
time
2013-06-01    0.000058
Name: EQP, dtype: float64
time
2013-09-01    0.000238
Name: EQP, dtype: float64
time
2013-12-01    0.018528
Name: EQP, dtype: float64
time
2014-03-01    0.000003
Name: EQP, dtype: float64
time
2014-06-01    0.000176
Name: EQP, dtype: float64
time
2014-09-01    0.000391
Name: EQP, dtype: float64
time
2014-12-01    0.000186
Name: EQP, dtype: float64
time
2015-03-01    0.000651
Name: EQP, dtype: float64
time
2015-06-01    0.000003
Name: EQP, dtype: float64
time
2015-09-01    0.000364
Name: EQP, dtype: float64
time
2015-12-01    0.008923
Name: EQP, dtype: float64
time
2016-03-01    7.951403e-07
Name: EQP, dtype: float64
time
2016-06-01    0.00004
Name: EQP, dtype: float64
time
2016-09-01    0.000822
Name: EQP, dtype: float64
time
2016-12-01    0.000603
Name: EQP, dtype: float64
time
2017-03-01    0.00385
Name: EQP, dtype: float64
time
2017-06-01    0.000057
Name: EQP, dtype: float64
time
2017-09-01    0.000034
Name: EQP, dtype: float64
time
2017-12-01    0.004552
Name: EQP, dtype: float64
time
2018-03-01    0.004117
Name: EQP, dtype: float64
time
2018-06-01    0.00001
Name: EQP, dtype: float64
time
2018-09-01    0.00016
Name: EQP, dtype: float64
time
2018-12-01    0.089626
Name: EQP, dtype: float64

In [46]:
writer_MSE = pd.ExcelWriter('results/OOS_MSE_start0.xlsx', engine='xlsxwriter')
        
for i in fun_list:
    print(i.__name__)
    for j in cointe_ar2:    
        # Prepare X
        X_ = j.join(station_ar2) 

        # Target model
        d1, d2, extra= dimensions(j,station_ar2, i.__name__)
        
        cls = CLS_Estimator(obj_func = i, x0 = [0.001]*(d1+d2+extra[-1]+1), constraints = constraint_func(X_))
        cv_result = cross_validate(cls, X_, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['CLS_MSE'] = -cv_result['test_score']
        
        ##################################### no need to loop! ##############################################################
        # benchmark model: sm
        sm_pred, sm_mse = bench.sample_mean(y_lag2, "1988-01-01", cv_outer = cv_outer)
        oos_MSE.loc[j.name].loc['SM_MSE'] = sm_mse

        # benchmark model: Nonlinear
        station_n = pd.DataFrame()
        d1, d2, extra= dimensions(j,station_n, i.__name__)
        
        nlr = CLS_Estimator(obj_func = i, x0 = [0.001]*(d1+d2+extra[-1]+1), constraints = constraint_func(j))
        cv_nonlinear = cross_validate(nlr, j, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['NLS_MSE'] = -cv_nonlinear['test_score']    

        # benchmark model: AR1
        lr = LinearRegression()
        
        ar1 = df_AR2['y_lag']
        cv_ar1 = cross_validate(
            lr, ar1.values.reshape(-1, 1), y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR1_MSE'] = -cv_ar1['test_score']
        
        # AR2
        ar2 = df_AR2[['y_lag','y_2lag']]
        cv_ar2 = cross_validate(
            lr, ar2, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR2_MSE'] = -cv_ar2['test_score']

        # benchmark model: AR+cay
        ar_cay = df_AR2[['y_lag','cay']]
        cv_cay = cross_validate(
            lr, ar_cay, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR_cay_MSE'] = -cv_cay['test_score']

        ####################################################################################################
        oos_MSE.T.to_excel(writer_MSE, sheet_name=i.__name__)
        
writer_MSE.save()
writer_MSE.close()

sin_func
co1
0.017384747903979817
co2
0.0074963431125280935
co3
0.0019570552121621967
co4
0.005598206477191289
cos_func
co1
0.00048387524286226376
co2
0.007504635515126983
co3
0.001956239362500533
co4
0.005643132384186032
scaled_sin_func
co1
0.006304787336280075
co2
0.0019487635957147356
co3
0.0022393244064914043
co4
0.0053080270741341865
scaled_cos_func
co1
0.0025005001239147167
co2
0.0019509822766144108
co3
0.002114316034137702
co4
0.005611209959481638
exp_shift_func
co1
3.1286903350796567
co2
0.007592833386166227
co3
3.1286872736792883
co4
0.00389219306334
exp_func
co1
0.007218886701345672
co2
0.005544646847249382
co3
0.007218888606842207
co4
0.005544544656201899
poly_func
co1
0.0017985933286924034
co2
0.0019629101918366824
co3
0.0028433120158692705
co4
0.005294584937025837
linear_func
co1
0.006809174855111004
co2
0.001957624219835602
co3
0.0023012501078816575
co4
0.005300651142457759

In [45]:
writer_MSE = pd.ExcelWriter('results/OOS_MSE_taylor.xlsx', engine='xlsxwriter')
        
for i in fun_list:
    print(i.__name__)
    for j in cointe_ar2:
        # Prepare X
        X_ = j.join(station_ar2) 

        # Fit models
        x0 = Taylor_init(j.loc[:"1988-01-01"], station_train.loc[:"1988-01-01"], y_train_AR2.loc[:"1988-01-01"], i)

        # Target model
        d1, d2, extra= dimensions(j,station_ar2, i.__name__)
        
        cls = CLS_Estimator(obj_func = i, x0 = x0, constraints = constraint_func(X_))
        cv_result = cross_validate(cls, X_, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['CLS_MSE'] = -cv_result['test_score']
        
        ##################################### no need to loop! ##############################################################
        # benchmark model: sm
        sm_pred, sm_mse = bench.sample_mean(y_lag2, "1988-01-01", cv_outer = cv_outer)
        oos_MSE.loc[j.name].loc['SM_MSE'] = sm_mse

        # benchmark model: Nonlinear
        station_n = pd.DataFrame()
        d1, d2, extra= dimensions(j,station_n, i.__name__)
        x0_n = Taylor_init(j.loc[:"1988-01-01"], station_n, y_train_AR2.loc[:"1988-01-01"], i)
        
        nlr = CLS_Estimator(obj_func = i, x0 = x0_n, constraints = constraint_func(j))
        cv_nonlinear = cross_validate(nlr, j, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['NLS_MSE'] = -cv_nonlinear['test_score']    

        # benchmark model: AR1
        lr = LinearRegression()
        
        ar1 = df_AR2['y_lag']
        cv_ar1 = cross_validate(
            lr, ar1.values.reshape(
                -1, 1), y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR1_MSE'] = -cv_ar1['test_score']
        
        # AR2
        ar2 = df_AR2[['y_lag','y_2lag']]
        cv_ar2 = cross_validate(
            lr, ar2, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR2_MSE'] = -cv_ar2['test_score']

        # benchmark model: AR+cay
        ar_cay = df_AR2[['y_lag','cay']]
        cv_cay = cross_validate(
            lr, ar_cay, y_lag2, cv=cv_outer, scoring = 'neg_mean_squared_error')
        oos_MSE.loc[j.name].loc['AR_cay_MSE'] = -cv_cay['test_score']

        ####################################################################################################
        oos_MSE.T.to_excel(writer_MSE, sheet_name=i.__name__)
        
writer_MSE.save()
writer_MSE.close()

time                 1988-03-01  1988-06-01  1988-09-01    1988-12-01  \
Variable Model
co1      CLS_MSE       0.000486    0.000135    0.000071  9.484371e-07
         SM_MSE        0.001170    0.001787    0.000424  1.410679e-05
         NLS_MSE       0.000096    0.000144    0.000060  5.036030e-06
         AR1_MSE       0.004550    0.001519    0.000611  3.253449e-05
         AR2_MSE       0.006396    0.000033    0.000404  1.563596e-04
         AR_cay_MSE    0.005513    0.001798    0.000457  9.223706e-05
co2      CLS_MSE       0.003160    0.001529    0.000305  3.659591e-04
         SM_MSE        0.001170    0.001787    0.000424  1.410679e-05
         NLS_MSE       0.000525    0.001359    0.000371  1.511465e-04
         AR1_MSE       0.004550    0.001519    0.000611  3.253449e-05
         AR2_MSE       0.006396    0.000033    0.000404  1.563596e-04
         AR_cay_MSE    0.005513    0.001798    0.000457  9.223706e-05
co3      CLS_MSE       0.019548    0.033323    0.015577  2.459917e-02
         SM_MSE        0.001170    0.001787    0.000424  1.410679e-05
         NLS_MSE       0.006145    0.026609    0.011251  1.832899e-02
         AR1_MSE       0.004550    0.001519    0.000611  3.253449e-05
         AR2_MSE       0.006396    0.000033    0.000404  1.563596e-04
         AR_cay_MSE    0.005513    0.001798    0.000457  9.223706e-05
co4      CLS_MSE       0.005648    0.001943    0.000414  1.065100e-04
         SM_MSE        0.001170    0.001787    0.000424  1.410679e-05
         NLS_MSE       0.001352    0.002010    0.000349  3.026285e-05
         AR1_MSE       0.004550    0.001519    0.000611  3.253449e-05
         AR2_MSE       0.006396    0.000033    0.000404  1.563596e-04
         AR_cay_MSE    0.005513    0.001798    0.000457  9.223706e-05

time                 1989-03-01  1989-06-01  1989-09-01  1989-12-01  \
Variable Model
co1      CLS_MSE       0.000030    0.000081    0.000182    0.000155
         SM_MSE        0.001480    0.002926    0.005213    0.000110
         NLS_MSE       0.000024    0.000089    0.000209    0.000113
         AR1_MSE       0.001450    0.002537    0.004471    0.000320
         AR2_MSE       0.001213    0.002537    0.005185    0.000116
         AR_cay_MSE    0.001743    0.002903    0.004775    0.000294
co2      CLS_MSE       0.003296    0.004914    0.006449    0.000031
         SM_MSE        0.001480    0.002926    0.005213    0.000110
         NLS_MSE       0.002794    0.004591    0.006542    0.000002
         AR1_MSE       0.001450    0.002537    0.004471    0.000320
         AR2_MSE       0.001213    0.002537    0.005185    0.000116
         AR_cay_MSE    0.001743    0.002903    0.004775    0.000294
co3      CLS_MSE       0.042968    0.045896    0.033255    0.002482
         SM_MSE        0.001480    0.002926    0.005213    0.000110
         NLS_MSE       0.036101    0.039666    0.029840    0.002234
         AR1_MSE       0.001450    0.002537    0.004471    0.000320
         AR2_MSE       0.001213    0.002537    0.005185    0.000116
         AR_cay_MSE    0.001743    0.002903    0.004775    0.000294
co4      CLS_MSE       0.001688    0.002834    0.004659    0.000306
         SM_MSE        0.001480    0.002926    0.005213    0.000110
         NLS_MSE       0.001506    0.002942    0.005184    0.000108
         AR1_MSE       0.001450    0.002537    0.004471    0.000320
         AR2_MSE       0.001213    0.002537    0.005185    0.000116
         AR_cay_MSE    0.001743    0.002903    0.004775    0.000294

time                 1990-03-01  1990-06-01  ...  2016-09-01  2016-12-01  \
Variable Model                               ...
co1      CLS_MSE       0.000491    0.000053  ...    0.000082    0.000054
         SM_MSE        0.003526    0.001043  ...    0.000607    0.000526
         NLS_MSE       0.000529    0.000022  ...    0.000128    0.000098
         AR1_MSE       0.003405    0.001466  ...    0.000558    0.000434
         AR2_MSE       0.002229    0.001410  ...    0.000555    0.000464
         AR_cay_MSE    0.003279    0.001591  ...    0.000429    0.000320
co2      CLS_MSE       0.002414    0.002162  ...    0.000230    0.000084
         SM_MSE        0.003526    0.001043  ...    0.000607    0.000526
         NLS_MSE       0.002689    0.001577  ...    0.000370    0.000203
         AR1_MSE       0.003405    0.001466  ...    0.000558    0.000434
         AR2_MSE       0.002229    0.001410  ...    0.000555    0.000464
         AR_cay_MSE    0.003279    0.001591  ...    0.000429    0.000320
co3      CLS_MSE       0.002773    0.000360  ...    0.001944    0.000497
         SM_MSE        0.003526    0.001043  ...    0.000607    0.000526
         NLS_MSE       0.003779    0.000040  ...    0.003120    0.000634
         AR1_MSE       0.003405    0.001466  ...    0.000558    0.000434
         AR2_MSE       0.002229    0.001410  ...    0.000555    0.000464
         AR_cay_MSE    0.003279    0.001591  ...    0.000429    0.000320
co4      CLS_MSE       0.003418    0.001565  ...    0.000246    0.000163
         SM_MSE        0.003526    0.001043  ...    0.000607    0.000526
         NLS_MSE       0.003584    0.001071  ...    0.000329    0.000267
         AR1_MSE       0.003405    0.001466  ...    0.000558    0.000434
         AR2_MSE       0.002229    0.001410  ...    0.000555    0.000464
         AR_cay_MSE    0.003279    0.001591  ...    0.000429    0.000320

time                 2017-03-01  2017-06-01  2017-09-01  2017-12-01  \
Variable Model
co1      CLS_MSE       0.000206    0.000016    0.000034    0.000202
         SM_MSE        0.002097    0.000263    0.000749    0.002543
         NLS_MSE       0.000296    0.000060    0.000086    0.000312
         AR1_MSE       0.001920    0.000151    0.000674    0.002308
         AR2_MSE       0.002071    0.000187    0.000854    0.002406
         AR_cay_MSE    0.001633    0.000067    0.000450    0.001908
co2      CLS_MSE       0.001094    0.000014    0.000270    0.001746
         SM_MSE        0.002097    0.000263    0.000749    0.002543
         NLS_MSE       0.001497    0.000138    0.000536    0.002367
         AR1_MSE       0.001920    0.000151    0.000674    0.002308
         AR2_MSE       0.002071    0.000187    0.000854    0.002406
         AR_cay_MSE    0.001633    0.000067    0.000450    0.001908
co3      CLS_MSE       0.000105    0.000206    0.001224    0.004195
         SM_MSE        0.002097    0.000263    0.000749    0.002543
         NLS_MSE       0.000786    0.000136    0.000016    0.003094
         AR1_MSE       0.001920    0.000151    0.000674    0.002308
         AR2_MSE       0.002071    0.000187    0.000854    0.002406
         AR_cay_MSE    0.001633    0.000067    0.000450    0.001908
co4      CLS_MSE       0.001189    0.000005    0.000220    0.001407
         SM_MSE        0.002097    0.000263    0.000749    0.002543
         NLS_MSE       0.001465    0.000066    0.000361    0.001771
         AR1_MSE       0.001920    0.000151    0.000674    0.002308
         AR2_MSE       0.002071    0.000187    0.000854    0.002406
         AR_cay_MSE    0.001633    0.000067    0.000450    0.001908

time                 2018-03-01  2018-06-01  2018-09-01  2018-12-01
Variable Model
co1      CLS_MSE       0.000122    0.000010    0.000160    0.002771
         SM_MSE        0.000581    0.000285    0.003161    0.027192
         NLS_MSE       0.000037    0.000033    0.000265    0.002401
         AR1_MSE       0.000814    0.000359    0.002998    0.028828
         AR2_MSE       0.000721    0.000518    0.002800    0.028531
         AR_cay_MSE    0.001192    0.000193    0.002453    0.030146
co2      CLS_MSE       0.001287    0.000172    0.002321    0.028508
         SM_MSE        0.000581    0.000285    0.003161    0.027192
         NLS_MSE       0.000631    0.000296    0.003092    0.025841
         AR1_MSE       0.000814    0.000359    0.002998    0.028828
         AR2_MSE       0.000721    0.000518    0.002800    0.028531
         AR_cay_MSE    0.001192    0.000193    0.002453    0.030146
co3      CLS_MSE       0.000039    0.009810    0.006651    0.074625
         SM_MSE        0.000581    0.000285    0.003161    0.027192
         NLS_MSE       0.000012    0.005334    0.018427    0.070397
         AR1_MSE       0.000814    0.000359    0.002998    0.028828
         AR2_MSE       0.000721    0.000518    0.002800    0.028531
         AR_cay_MSE    0.001192    0.000193    0.002453    0.030146
co4      CLS_MSE       0.001548    0.000085    0.002082    0.030891
         SM_MSE        0.000581    0.000285    0.003161    0.027192
         NLS_MSE       0.000998    0.000111    0.002514    0.028719
         AR1_MSE       0.000814    0.000359    0.002998    0.028828
         AR2_MSE       0.000721    0.000518    0.002800    0.028531
         AR_cay_MSE    0.001192    0.000193    0.002453    0.030146

[24 rows x 124 columns]

## $R^2$ Statistics

### In-sample $R^2$

In [101]:
base = ['SM',
       'NLS',
       'AR1',
       'AR2',
       'AR_cay']

In [102]:
co_list = ['co1', 'co2', 'co3', 'co4']
co_dict = {'co1': 'dy and dp',
          'co2': 'tbl and lty',
          'co3': 'dp and ep',
          'co4': 'BAA and AAA'}

In [103]:
fun_list = ['sin_func', 
            'cos_func', 
            'scaled_sin_func', 
            'scaled_cos_func', 
            'exp_shift_func', 
            'exp_func', 
            'poly_func', 
            'linear_func']

In [88]:
cumulate_R2 = pd.DataFrame()

rows = oos_MSE.loc["1988-01-01":"2018-12-01"].index
sec_columns_R2 = ['SM', 'NLS', 'AR1', 'AR2', 'AR_cay']
multi_columns_R2 = pd.MultiIndex.from_product([['co1', 'co2', 'co3', 'co4'], sec_columns_R2],
                                                  names=['Variable', 'Model'])      
cumulate_R2 = pd.DataFrame(index = multi_columns_R2, columns = rows)

In [106]:
writer_R2 = pd.ExcelWriter('results/OOS_R2_start0.xlsx', engine='xlsxwriter')

for f in fun_list:
    oos_MSE = pd.read_excel('results/OOS_MSE_start0.xlsx', header=[0,1], index_col=0, sheet_name = f)
    for i, j in itertools.product(base, co_list):
        cumu_sum = []
        target_sum = []
        cumu_R2 = []
        k = i + '_MSE'
        for R in range(len(oos_MSE[j][k])):
            target_sum.append(oos_MSE[j]['CLS_MSE'][:(R+1)].sum())
            cumu_sum.append(oos_MSE[j][k][:(R+1)].sum())
        cumu_R2 = [1 - x/y for x,y in zip(target_sum, cumu_sum)]
        cumulate_R2.loc[j].loc[i] = cumu_R2
    cumulate_R2.T.to_excel(writer_R2, sheet_name=f)
writer_R2.save()
writer_R2.close()

In [ ]:
writer_R2 = pd.ExcelWriter('results/OOS_R2_taylor.xlsx', engine='xlsxwriter')

for f in fun_list:
    oos_MSE = pd.read_excel('results/OOS_MSE_taylor.xlsx', header=[0,1], index_col=0, sheet_name = f)
    for i, j in itertools.product(base, co_list):
        cumu_sum = []
        target_sum = []
        cumu_R2 = []
        k = i + '_MSE'
        for R in range(len(oos_MSE[j][k])):
            target_sum.append(oos_MSE[j]['CLS_MSE'][:(R+1)].sum())
            cumu_sum.append(oos_MSE[j][k][:(R+1)].sum())
        cumu_R2 = [1 - x/y for x,y in zip(target_sum, cumu_sum)]
        cumulate_R2.loc[j].loc[i] = cumu_R2
    cumulate_R2.T.to_excel(writer_R2, sheet_name=f)
writer_R2.save()
writer_R2.close()

In [120]:
parent = os.getcwd()
folder = 'OOS_plots/start0'
path = os.path.join(parent, folder)
if not os.path.exists(path):
    os.makedirs(path)

for k in fun_list:
    R2 = pd.read_excel('results/OOS_R2_start0.xlsx', header=[0,1], index_col=0, sheet_name = k)['1989-03-01':]
    for i,j in itertools.product(co_list, base):
        fig = plt.figure(figsize = (12,8))
        plt.plot(R2[i][j])
        plt.axhline(y=0, color='r', linestyle='--')
        plt.title('1-Step OOS: '+ co_dict[i] + ' (' + 'Model: '+ k[:-5] + '; BM:' + j + ', start:0)', fontsize=20)
        plt.ylabel("$R^2_{OOS}$", fontsize=16)
        plt.savefig(os.path.join(path, k[:-5] + '_' + i + '_' + j + '_0'))

In [ ]:
parent = os.getcwd()
folder = 'OOS_plots/taylor'
path = os.path.join(parent, folder)
if not os.path.exists(path):
    os.makedirs(path)

for k in fun_list:
    R2 = pd.read_excel('results/OOS_R2_taylor.xlsx', header=[0,1], index_col=0, sheet_name = k)['1989-03-01':]
    for i,j in itertools.product(co_list, base):
        fig = plt.figure(figsize = (12,8))
        plt.plot(R2[i][j])
        plt.axhline(y=0, color='r', linestyle='--')
        plt.title('1-Step OOS: '+ co_dict[i] + ' (' + 'Model: '+ k[:-5] + '; BM:' + j + ', start:taylor)', fontsize=20)
        plt.ylabel("$R^2_{OOS}$", fontsize=16)
        plt.savefig(os.path.join(path, k[:-5] + '_' + i + '_' + j + '_taylor'))